In [1]:
a1 = [1,2,3,4,5]
b1 = ['apple','banana','cherry']
c1 = [1,'hello','3.14',True]

print(a1,b1,c1)

[1, 2, 3, 4, 5] ['apple', 'banana', 'cherry'] [1, 'hello', '3.14', True]

In [2]:
a = [1,'apple',3.14,[5,6]]
print(a)

[1, 'apple', 3.14, [5, 6]]

In [3]:
a = list((1,2,3,'apple',4.5))
print(a)

[1, 2, 3, 'apple', 4.5]

In [4]:
a = [1]*5
b = [0]*7

print(a)
print(b)

[1, 1, 1, 1, 1]
[0, 0, 0, 0, 0, 0, 0]

### Accessing an element

In [5]:
a = [10,20,30,40,50]
print(a[0])
print(a[-1])

10
50

### Adding an element into the list

In [6]:
a = []

a.append(10)
print("After appending 10: ",a)

After appending 10:  [10]

In [7]:
a.insert(0,5)
print("After insert(0,5): ",a)

After insert(0,5):  [5, 10]

In [8]:
a.extend([15,20,25])
print("After extend([15,20,25])",a)

After extend([15,20,25]) [5, 10, 15, 20, 25]

### Update Elements into list

In [9]:
a = [10,20,30,40,50]
a[1] = 24

print(a)

[10, 24, 30, 40, 50]

### Removing Elements into List

In [10]:
a = [10,20,30,40,55]

a.remove(30)
print("After remove(30): ",a)

After remove(30):  [10, 20, 40, 55]

In [11]:
popped_val = a.pop(1)
print("Popped element: ",popped_val)
print("After pop(1): ",a)

Popped element:  20
After pop(1):  [10, 40, 55]

In [12]:
del a[0]
print("After del a[0]: ",a)

After del a[0]:  [40, 55]

### Using loop

In [13]:
a = ['apple','banana','mango']
for i in a:
    print(i)

apple
banana
mango

In [14]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
spam = ['cat','bat','rat','elephant']

In [16]:
spam[0:4]

['cat', 'bat', 'rat', 'elephant']

In [18]:
spam[1:3]

['bat', 'rat']

In [20]:
spam[0:-1]

['cat', 'bat', 'rat']

In [21]:
spam[:2]

['cat', 'bat']

In [22]:
spam[:]

['cat', 'bat', 'rat', 'elephant']

In [23]:
len(spam)

4

In [24]:
spam[1] = 'mouse'

In [25]:
spam

['cat', 'mouse', 'rat', 'elephant']

In [26]:
[1,2,3] + ['A','B','C']

[1, 2, 3, 'A', 'B', 'C']

In [27]:
spam*2

['cat', 'mouse', 'rat', 'elephant', 'cat', 'mouse', 'rat', 'elephant']

In [28]:
spam

['cat', 'mouse', 'rat', 'elephant']

In [34]:
supplies = ['pen','staplers','flamethrowers','binders']
for i in range(len(supplies)):
    print('Index ' + str(i) + ' in supplies is : ' + supplies[i])

Index 0 in supplies is : pen
Index 1 in supplies is : staplers
Index 2 in supplies is : flamethrowers
Index 3 in supplies is : binders

In [35]:
'cat' in spam

True

In [36]:
'howdy' not in spam

True

In [37]:
for index,item in enumerate(supplies):
    print('Index ' + str(index) + ' in supplies is: ' + item)

Index 0 in supplies is: pen
Index 1 in supplies is: staplers
Index 2 in supplies is: flamethrowers
Index 3 in supplies is: binders

In [40]:
import random
pets = ['dog','cat','Moose']
random.choice(pets)

'Moose'

In [41]:
random.choice(pets)

'Moose'

In [42]:
random.choice(pets)

'cat'

In [44]:
people = ['Mahesh','Suresh','Hitesh','Brijesh']

In [45]:
random.shuffle(people)

In [46]:
people

['Suresh', 'Brijesh', 'Mahesh', 'Hitesh']

In [47]:
random.shuffle(people)

In [48]:
people

['Suresh', 'Hitesh', 'Mahesh', 'Brijesh']

In [49]:
spam

['cat', 'mouse', 'rat', 'elephant']

In [50]:
spam.append('bat')

In [51]:
spam

['cat', 'mouse', 'rat', 'elephant', 'bat']

In [52]:
spam.insert(5,'dog')

In [53]:
spam

['cat', 'mouse', 'rat', 'elephant', 'bat', 'dog']

In [54]:
spam.remove('bat')

In [55]:
spam

['cat', 'mouse', 'rat', 'elephant', 'dog']

In [56]:
spam.sort()

In [57]:
spam

['cat', 'dog', 'elephant', 'mouse', 'rat']

In [58]:
spam.reverse()

In [59]:
spam

['rat', 'mouse', 'elephant', 'dog', 'cat']

In [60]:
name = 'Zophie'
name[0]

'Z'

In [61]:
name[-2]

'i'

In [62]:
name[0:4]

'Zoph'

In [63]:
'Zo' in name

True

In [64]:
'z' in name

False

In [65]:
for i in name:
    print('* * * '+i+' * * *')

* * * Z * * *
* * * o * * *
* * * p * * *
* * * h * * *
* * * i * * *
* * * e * * *

In [66]:
name = 'Zophie a cat'
newName = name[0:7] + 'the' + name[8:12]
name

'Zophie a cat'

In [67]:
eggs = ('hello',42,0.5)
eggs

('hello', 42, 0.5)

In [68]:
eggs[1] = 99

TypeError: 'tuple' object does not support item assignment

In [69]:
type(('hello',))

tuple

In [70]:
type(('hello'))

str

In [72]:
tuple(['cat','dog',4])

('cat', 'dog', 4)

In [73]:
list(('cat','dog',1))

['cat', 'dog', 1]

In [74]:
list('abhishek')

['a', 'b', 'h', 'i', 's', 'h', 'e', 'k']